body{
    background-color: #ecd6a6;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.carta{
    width: 300px;
    height: 300px;
    margin: auto;
    box-sizing: border-box;
    background-color: chocolate;
    margin-top: 11rem;  
    border-radius: 10px;
    box-shadow: 0 0 50px 0px #616161; 
}

h1{
    text-align: center;
    padding-top: 1.5rem;
}